<script defer src="/public/scripts/app.js"></script>
<div class='task'>
    <div class='task-info'>
        <h4 class='task-title'><%= title %></h4>
        <p class='task-date'><%= dueDate %></p>
        <div class='task-desc-container'>
            <p class='task-desc'><%= description %></p>
        </div>
    </div>

    <div class='task-update'>
        <button onclick="updateTaskCompletion('<%= id %>')"><%= isComplete ? 'Non terminé' : 'Terminé' %></button>
        <button onclick="deleteTask('<%= id %>')">Supprimer</button>
    </div>
</div>